.label {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.progress {
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
    transition: width .05s;
    pointer-events: none;
}

.input {
    width: 100%;
    height: 4px;
    background: #AAAAAA;
    border-radius: 4px;
    outline: none;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 8px;
        height: 8px;
        background: var(--white-color);
        border-radius: 50%;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        -moz-appearance: none;
        appearance: none;
        width: 8px;
        height: 8px;
        background: var(--white-color);
        border-radius: 50%;
        cursor: pointer;
    }
}