.wrapper {
    background-color: var(--white-color);
    border: 1px solid #D8DDE0;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    width: 100%;
    position: relative;
    transition: border-color .2s ease-in;

    >.label {
        color: var(--text-grey-color);

        &.selected {
            color: var(--dark-color);
        }
    }

    &:hover {
        border-color: #B5B9BB;

        .icon>svg>path {
            stroke: var(--blue-color);
        }
    }

    &.active {
        .icon {
            transform: rotate(180deg);
        }

        .dropdown {
            opacity: 1;
            pointer-events: all;
        }
    }
}


.icon {
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    transition: transform .2s ease-in;

    >svg>path {
        transition: stroke .2s ease-in;
    }
}

.dropdown {
    width: 100%;
    top: calc(100% + 4px);
    left: 0;
    padding: 8px 0;
    position: absolute;
    background: var(--white-color);
    box-shadow: 0px 4px 14px rgba(5, 25, 44, 0.1);
    border-radius: 16px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 1;
}

.dropdownItem {
    padding: 12px 24px;
    transition: background-color .1s ease-in;

    &:hover {
        background-color: rgba(240, 242, 243, 0.5);
    }
}