.wrapper {
    background-color: var(--white-color);
    height: 100vh;
    padding: 40px 12px;
    max-width: 184px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    display: flex;
    flex-direction: column;

    >:first-child {
        margin-left: 28px;
    }

    >:last-child {
        margin-top: auto;
        align-self: center;
    }
}