.button {
    border-radius: 48px;
    display: grid;
    place-items: center;
    width: fit-content;
    transition: .2s ease-in;
    transition-property: border-color,
        background-color;

    &.large {
        padding: 13.5px 20px;
    }

    &.small {
        padding: 6px 20px;
    }

    &.primary {
        background-color: var(--blue-color);

        >.text {
            color: var(--white-color);
        }

        &:hover {
            background-color: #61BAD8;
        }

        &.disabled {
            background-color: #BEC9D6;
        }
    }

    &.secondary {
        background-color: transparent;
        border: 1px solid #D8DDE0;

        >.text {
            color: var(--blue-color);
        }

        &.disabled>.text {
            color: var(--text-grey-color);
        }

        &:hover {
            border-color: var(--blue-color);
        }
    }

    &.disabled {
        pointer-events: none;
        user-select: none;
    }
}