.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.organisationRow {
    overflow-x: hidden;
    position: relative;
}

.slider {
    width: 100%;
    overflow-x: scroll;
    position: relative;


    >div {
        display: flex;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.row {
    position: relative;
}

.organisation {
    flex-shrink: 0;
    padding: 4px 20px 4px 4px;
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #D8DDE0;
    border-radius: 72px;
    width: fit-content;
    max-width: 204px;
}

.logo {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;

    >img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.btn {
    background-color: var(--white-color);
    border: 1px solid #D8DDE0;
    border-radius: 88px;
    width: 47px;
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    place-items: center;
    z-index: 10;

    // &:before {
    //     z-index: -10;
    //     position: absolute;
    //     display: block;
    //     content: '';
    //     width: 89px;
    //     height: 48px;
    //     // background: linear-gradient(270deg, #FFFFFF 51.69%, rgba(255, 255, 255, 0) 96.63%);
    //     background: rebeccapurple;
    // }
}

.leftBtn {
    left: 0;

    >svg {
        transform: rotate(180deg);
    }
}

.rightBtn {
    right: 0;
}