.button {
    background-color: #F0F2F3;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    position: relative;

    &.grant {
        svg>path {
            fill: var(--blue-color);
        }
    }

    &.large {
        width: 48px;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    &.small {
        width: 32px;

        svg {
            width: 14px;
            height: 14px;
        }
    }

    &:not(.like) {
        &:hover {
            .filledIcon {
                opacity: 1;
            }

            .icon {
                opacity: 0;
            }
        }
    }
}

.icon,
.filledIcon {
    display: grid;
    place-items: center;
}

.filledIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .15s;
}

.like {
    svg>path {
        transition: .2s ease-in;
        transition-property: stroke, fill;
        stroke: var(--blue-color);
    }
}