body {
    --white-color: #fff;
    --dark-color: #0B1B23;
    --main-bg-color: #F0F2F3;
    --blue-color: #0BA1D8;
    --active-color: #61BAD8;
    --text-color: var(--dark-color);
    --text-grey-color: rgba(11, 27, 35, 0.6);

    --font-family: 'Heebo', sans-serif;
}