@import './reset', './variables', './fonts';

body {
    background-color: var(--main-bg-color);
    overflow: hidden;
}

.cta {
    cursor: pointer;
}

.App {
    display: flex;
    overflow: hidden;

    >main {
        min-width: 1255px;
        width: 100%;
    }
}

.grant-bg {
    background-color: var(--white-color);
    border-radius: 16px;
}

.header-btn {
    width: 40px;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 100%;
    display: grid;
    place-items: center;
    transition: border-color .2s;
    border: 1px solid transparent;

    &:hover {
        border-color: var(--blue-color);
    }
}