@import './reset', './variables', './fonts';

body {
    background-color: var(--main-bg-color);
    overflow: hidden;
}

.cta {
    cursor: pointer;
}

.App {
    display: flex;
    overflow: hidden;

    >main {
        min-width: 1255px;
        width: 100%;
    }
}

.grant-bg {
    background-color: var(--white-color);
    border-radius: 16px;
}