.wrapper {
    padding: 0 56px;
    display: flex;
    gap: 32px;
    height: calc(100vh - 104px);
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.leftSide,
.rightSide {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 24px;
}

.leftSide {
    width: calc(67.6% - 16px);
}

.rightSide {
    width: calc(32.4% - 16px);
}