.wrapper {
    padding: 8px 56px;
    height: calc(100vh - 104px);
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.container {
    margin: 32px 0 56px;
    display: flex;
    gap: 32px;
    // height: 100%;
}

.leftSide,
.rightSide {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.leftSide {
    width: calc(67.6% - 16px);
}

.rightSide {
    width: calc(32.4% - 16px);
}

.buttons {
    display: flex;
    gap: 24px;
    align-items: center;
}