.wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
    position: relative;
}

.fund {
    background-color: var(--white-color);
    padding: 8px 16px;
    border-radius: 16px;
    display: flex;
    gap: 24px;
    align-items: center;
}