.header {
    padding: 32px 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    display: flex;
    gap: 16px;
}

.roundBtn {
    width: 40px;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 100%;
    display: grid;
    place-items: center;
    transition: border-color .2s;
    border: 1px solid transparent;

    &:hover {
        border-color: var(--blue-color);
    }
}