.wrapper {
    width: 60%;
    max-width: 423px;
    padding: 12px 20px;
    position: relative;
    border: 1px solid #D8DDE0;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: border-color .15s;

    >svg {
        transition: transform .2s ease-in;

        >path {
            transition: stroke .2s ease-in;
        }
    }

    &.active,
    &:hover {
        border-color: #BEC9D6;

        >.placeholder {
            color: var(--text-color);
        }
    }

    &.active {
        >svg {
            transform: rotate(180deg);

            >path {
                stroke: var(--blue-color);
            }
        }

        .dropdown {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.placeholder {
    color: var(--text-grey-color);
    transition: color .15s;
}

.btnWrapper {
    margin: 12px 20px;
}

.sortBtn {
    width: max-content;
    display: flex;
    gap: 4px;
    align-items: center;

    >.icon {
        width: 20px;
        height: 20px;
        display: grid;
        place-items: center;

        >svg>path {
            stroke: var(--text-grey-color);
            transition: stroke .1s;
        }
    }

    >p {
        color: var(--text-grey-color);
        transition: color .1s;
    }

    &:hover {
        >.icon>svg>path {
            stroke-opacity: 1;
            stroke: var(--dark-color);
        }

        >p {
            color: var(--dark-color);
        }
    }
}

.dropdown {
    z-index: 4;
    width: 100%;
    top: calc(100% + 4px);
    left: 0;
    padding: 8px 0;
    position: absolute;
    background: var(--white-color);
    box-shadow: 0px 4px 14px rgba(5, 25, 44, 0.1);
    border-radius: 16px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
}

.organisationsList {
    max-height: 256px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 24px;
        background-color: #D8DDE0;
    }
}

.organisationItem {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: background-color .1s ease-in;

    &:hover {
        background-color: rgba(240, 242, 243, 0.5);
    }

    >p {
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.logo {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    overflow: hidden;

    >img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}