.label {
    padding: 14px 20px;
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #D8DDE0;
    transition: border-color .2s;

    &:hover,
    &.focused {
        border-color: #ABB9BF;
    }
}

.input {
    width: 100%;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}